---
interface Props {
  title?: string
  description?: string
  keywords?: string
  cssPath: string
  mCssPath: string
  otherCssPath?: string[]
}
const {
  title = "矿石镇的攻略百科",
  description = "将荒芜的庄园变成繁盛的牧场，是我的梦想！",
  keywords = "牧场物语,矿石镇的攻略百科,牧場物語,攻略,",
  cssPath,
  mCssPath,
  otherCssPath = [],
} = Astro.props

---

<!doctype html>
<html lang="zh-cmn-Hans">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1" />
    {otherCssPath.map((path) => <link rel="stylesheet" type="text/css" href={path} />)}
    <link rel="stylesheet" type="text/css" media="screen and (min-width:801px)" href={cssPath} />
    <link rel="stylesheet" type="text/css" media="screen and (max-width:800px)" href={mCssPath} />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <meta name="apple-mobile-web-app-title" content={title} />
    <meta name="application-name" content={title} />
    <meta name="msapplication-TileColor" content="#999999" />
    <meta name="msapplication-config" content="/favicon/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <script async is:inline src="https://www.googletagmanager.com/gtag/js?id=G-T9JX4C52TL"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag("js", new Date())
      gtag("config", "G-T9JX4C52TL")
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
