---
import Layout from "./saikai.astro"
import type { MarkdownLayoutProps } from "astro"
import TOC from "@/components/table-of-content.astro"

type Props = MarkdownLayoutProps<{
  title?: string
  toc?: {
    counts: number[]
    h1: string
    description: string
    depth?: number
  }
}>

const { frontmatter, headings } = Astro.props

const realTitle =
  frontmatter.toc?.h1 ||
  frontmatter?.title ||
  headings?.find((h) => h.depth === 1)?.text ||
  undefined
---

<Layout isArticle title={realTitle}>
  {
    frontmatter.toc ? (
      <>
        <h1>{frontmatter.toc.h1}</h1>
        <p>{frontmatter.toc.description}</p>
        <TOC headings={headings} counts={frontmatter.toc.counts} depth={frontmatter.toc.depth} />
        <slot />
      </>
    ) : (
      <slot />
    )
  }
</Layout>
